<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta content="подарок, стразы, Сваровски, Swarovski, картины, инкрустация, стразирование, подарок в волгограде, заказать подарок онлайн" name="description">
    <meta content="подарок, стразы, Сваровски, Swarovski, картины, инкрустация, стразирование, подарок к 8 марта, подарок в волгограде" name="keywords">

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/simpleGal.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/t034.gallery.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    

</head>

<body>
    <div class="main">
        <div class="banner">
			<img src="@Url.Content("~/Content/pic/banner.png")" alt="Баннер" height="280px" width="1200px">
			<img style="display: none" src="@Url.Content("~/Content/pic/banner2.png")" alt="Баннер" height="280px" width="1200px">
		</div>
        <div class="bban">Картины ручной работы в наличии и на заказ</div>
        <div class="cyanline"></div>
        <div class="example"><img src="@Url.Content("~/Content/pic/examples_line.png")"></div>
        <div class="example">
            @Html.Partial("Strazi/Samples") 
        </div>
        <div class="cyanline"></div>
        <div class="ready">
            <img src="@Url.Content("~/Content/pic/ready_line.png")">
            
            @Html.Partial("Strazi/Works") 

            @RenderBody()
        </div>
        <div class="dban">Создайте свою блестящую индивидуальность!</div>
        <div class="greyline"></div>
        @*<div class="reklama">Здесь будет реклама</div>*@
        <div class="greyline"></div>
        <div class="dlink" id="right"><a href="http://strazi-podarok.ru/" class="a">2015 &copy; http://strazi-podarok.ru/</a></div>
    </div>
    <script src="/Scripts/jquery.simpleGal.min.js"></script>

</body>
</html>
